<main>
    <section class="sidenav">
        <div class="sidebar-header">
            <img src=<%= asset_path("twitter.svg") %> alt="Twitter Icon">
        </div>
        <div class="sidebar-link">
            <img src=<%= asset_path("home-outline.svg") %> alt="Home Icon">
            <div class="sidebar-text home">Home</div>    
        </div>
        <div class="sidebar-link">
            <img src=<%= asset_path("bell-outline.svg") %> alt="Notification Icon">
            <div class="sidebar-text">Notifications</div>    
        </div>
        <div class="sidebar-link">
            <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">
            <div class="sidebar-text">Profile</div>    
        </div>
        <div>
            <%= button_tag "Post", class: "btn btn--primary sidebar-button"%>
        </div>
        <div class="sidebar-footer">
            <%= button_to "Log Out", destroy_user_session_path, data: { turbo: "false" }, method: :delete, class: "btn btn--primary sidebar-button"%>
        </div>
    </section>
        
    <div class="feed">
        <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
            <%= f.text_field :body %>
            <%= f.submit %>
        <% end %>

        <ul>
            <% Tweet.find_each do |tweet| %>
                <li><%= tweet.body %></li>
            <% end %>
        </ul>
    </div>

    <div class="sidebar">
        Sidebar
    </div>
</main>


