<div class="tweet">
    <% if (Time.zone.now - tweet.created_at) > 1.day %>
        <p>@<%= tweet.user.email %> . <%= tweet.created_at.strftime("%b %-d") %></p>
    <% else %>
        <p>@<%= tweet.user.email %> . <%= time_ago_in_words(tweet.created_at) %></p>
    <% end %>
    <p><%= tweet.body %></p>
</div>