<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
    <div class="tweet_card">
        <div class="tweet-avatar">
            <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
        </div>
        <div class="tweet-body">
            <p>@<%= tweet_presenter.user.email %> &#183; <%= tweet_presenter.created_at %></p>

            <p><%= tweet_presenter.body %></p>

            <div class="tweet-actions">
                    <%= link_to tweet_path(tweet_presenter.tweet), data: {"turbo_frame": "_top"}, class: "action-element normal" do %>
                        <img src=<%= asset_path("chat-outline.svg") %> alt="Comments Icon">  
                        <div>Replies</div>
                    <% end %>

                    <%= link_to tweet_presenter.liked_tweet_path, data: { "turbo-method": tweet_presenter.liked_tweet_turbo_data_method}, class: tweet_presenter.liked_tweet_class do %>
                        <img src=<%= asset_path(tweet_presenter.liked_tweet_image) %> alt="Likes Icon">  
                        <div><%= tweet_presenter.likes_count %></div>
                    <% end %>
            

                    <%= link_to tweet_presenter.bookmarked_tweet_path, data: { "turbo_method": tweet_presenter.bookmarked_tweet_turbo_data_method }, class: tweet_presenter.bookmarked_tweet_class do %>
                        <img src=<%= asset_path(tweet_presenter.bookmarked_tweet_image) %> alt="Bookmark Icon">  
                        <div><%= tweet_presenter.bookmarked_tweet_text %></div>
                    <% end %>

            </div>
        </div>
    </div>
<% end %>