<div class="dashboard">
    <div class="feed">
        <div class="tweet-header">
            <%= link_to :back do %>
                <div>
                    <%= image_tag "arrow-left.svg" %>
                </div>
            <% end %>
            <p>Post</p>
        </div>
        <div class="tweet">
            <div class="tweet_card vertical">
                <div class="tweet_user_header">
                    <div class="tweet-avatar">
                        <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
                    </div>
                    <div>
                        <p><span class="tweet-user-display-name"><%= @tweet_presenter.user.display_name %></span></p>
                        <p><span class="tweet-muted-text">@<%= @tweet_presenter.user.username %></span></p>
                    </div>
                </div>
                <div class="tweet-body larger">
                    <div>
                        <p><%= @tweet_presenter.body %></p>

                        <p class="tweet-muted-text"><%= @tweet_presenter.tweet.created_at.strftime("%k:%M %p") %> &#183; <%= @tweet_presenter.tweet.created_at.strftime("%b %-d, %Y") %>
                    </div>
                    <div class="tweet_actions_main">
                        <%= render "tweets/tweet_actions", tweet_presenter: @tweet_presenter %>
                    </div>
                </div>
                <%= render "shared/tweet_form", form_submit_route: tweet_replies_path(@tweet_presenter.tweet), source: "tweet" %>
            </div>
            <div id="tweets">
                <%= render partial: "tweets/tweet", collection: @replies, as: :tweet_presenter %>
            </div>

        </div>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>
