<div class="dashboard">
    <div class="feed">
        <div class="dashboard-header">
            <%= link_to :back do %>
                <div>
                    <%= image_tag "arrow-left.svg" %>
                </div>
            <% end %>
            <div>
                <p class="strong-text"><%= @user.username %></p>
                <p class="muted-text"><%= @msg %></p>
            </div>
        </div>
        <div class="profile-user-info-header">
            <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
            <%= render "follow_button", user: @user, current_user: current_user %>
        </div>
        <div class="profile-user-info-body">
            <%= render "profile/profile_bio", user: @user %>
        </div>
        <%= render "profile/profile_nav", user: @user %>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>
