<div class="dashboard">
    <div class="feed">
        <div class="dashboard-header">
            <%= link_to :back do %>
                <div>
                    <%= image_tag "arrow-left.svg" %>
                </div>
            <% end %>
            <div>
                <p class="strong-text"><%= @user.username %></p>
                <p class="muted-text"><%= @msg %></p>
            </div>
        </div>
        <div class="profile-user-info-header">
            <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
            <% if @user.followers.include?(current_user) %>
                <%= link_to "Unfollow", user_follow_path(@user, current_user.follows.find_by(following_user_id: @user)), data: { "turbo-method": :delete }, class: "btn btn--light" %>
            <% else %>
                <%= link_to "Follow", user_follows_path(current_user, following_user_id: @user),  data: { "turbo-method": :post }, class: "btn btn--light" %>
            <% end %>
        </div>
        <div class="profile-user-info-body">
            <%= render "profile/profile_bio", user: @user %>
        </div>
        <%= render "profile/profile_nav", user: @user %>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>
