<div class="login">

  <h2>Log in to Tweeter</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
    <div class="form__group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form__input" %>
    </div>

    <div class="form__group">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form__input" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn--primary" %>
    </div>
  <% end %>
  <div class="login__actions">
    <%= render "devise/shared/links" %>
  </div>
</div>