<div class="dashboard">
    <div class="feed">
        <div class="dashboard-header">
            <%= link_to :back do %>
                <div>
                    <%= image_tag "arrow-left.svg" %>
                </div>
            <% end %>
            <div>
                <%= render partial: "shared/profile_tweet_count", locals: { user: current_user, msg: @msg } %>
            </div>
        </div>
        <div class="profile-user-info-header">
            <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar %>
            <% else %>
                <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
            <% end %>
            <div>
                <%= link_to modal_profile_form_path, data: {"turbo-frame": "modal"}, class: "btn btn--light" do %>
                    Edit Profile
                <% end %>
            </div>
        </div>
        <div class="profile-user-info-body">
            <%= render "profile_bio", user: current_user %>
        </div>
        <%= render "profile_nav", user: current_user %>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>
