<div class="dashboard">
    <div class="feed">
        <div class="dashboard-header">
            <%= link_to :back do %>
                <div>
                    <%= image_tag "arrow-left.svg" %>
                </div>
            <% end %>
            <div>
                <p class="strong-text"><%= current_user.username %></p>
                <p class="muted-text"><%= @tweets.size %> posts</p>
            </div>
        </div>
        <div class="profile-user-info-header">
            <img src=<%= asset_path("account-outline.svg") %> alt="Profile Link Icon">  
            <%= button_to profile_path, class: "btn btn--light" do %>
                Edit Profile
            <% end %>
        </div>
        <div class="profile-user-info-body">
            <div class="user-info">
                <p class="strong-text"><%= current_user.display_name %></p>
                <p class="muted-text">@<%= current_user.username %></p>
            </div>
            <div class="user-bio">
                <div> BIO </div>
                <div> Other links </div>
                <div class="follow-stats">
                    <div><span class="strong-text">0</span> Following</div>
                    <div><span class="strong-text">0</span> Followers</div>
                </div>
            </div>
        </div>
        <div class="tweet">

        </div>
    </div>
    <div class="sidebar">
        Sidebar
    </div>
</div>
